* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

.container {
  padding: 20px;
}

#liveToastContainer {
  z-index: 5;
  right: 0;
  top: 0;
  height: fit-content;
}

.toast-header,
.toast-body {
  background: #28a745 !important;
  color: white !important;
  font-size: 16px;
}

.toast-header span {
  color: white !important;
}
